<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <!-- To enable JMX Management -->
    <jmxConfigurator/>
    
    <property name="default_pattern" value="[%X{userLoggerName}] %date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger{30}:%line] - %msg%n" />
	<!-- <property name="log.basedir" value="/book/logs/bookstore" /> -->
	<property name="log.basedir" value="/Users/admin/Documents/logs/meida" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>UTF-8</encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${default_pattern}</pattern>
		</layout>
	</appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${log.basedir}/meida-all.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.basedir}/meida-all.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${default_pattern}</pattern>
		</layout>
	</appender>
    
    <root>   
    	<level value="DEBUG" />
    	<!-- 控制台输出不写入文件 -->
        <!-- <appender-ref ref="STDOUT"/> -->     
        <appender-ref ref="FILE" />     
    </root> 
</configuration>